<div class="container">
  <div class="form-signin">
    <h2 class="form-signin-heading">Please log in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    {{input value=email type="email" classNames="form-control" placeholder="Email address" required=true autofocus=true}}

    <label for="inputPassword" class="sr-only">Password</label>
    {{input value=password type="password" classNames="form-control" placeholder="Password" required=true}}

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    {{#if login.isIdle }}
      <button class="btn btn-lg btn-primary btn-block" onclick={{perform login email password}}>Sign in</button>
    {{else}}
      <button class="btn btn-lg btn-primary btn-block" disable>Sign in</button>
    {{/if}}

  </div>
</div>
