<div class="container-fluid" style="padding:0">

  <ul class="list-group">
    <li class="list-group-item">
      <span class="label label-default label-pill pull-xs-right">14</span>
      Cras justo odio
    </li>
    <li class="list-group-item">
      <span class="label label-default label-pill pull-xs-right">2</span>
      Dapibus ac facilisis in
    </li>
    <li class="list-group-item">
      <span class="label label-default label-pill pull-xs-right">1</span>
      Morbi leo risus
    </li>
  </ul>


</div>

<nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
  <a class="navbar-brand" href="#">Fixed bottom</a>
  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
</nav>
